@model ClinicManagement.Models.AppointmentCreateViewModel

@{
    ViewBag.Title = "Create appointment";
}

<div class="main-container">
    <div class="confirmation-box">

        <h2>Your appointment has been created!</h2>

        <h4>Patient: @Model.Patient.FullName</h4>

        <h4>Doctor: @Model.Doctor.FullName, @Model.Specialty.Name</h4>

        <h4>@Model.Date.Value.Date.ToShortDateString() : @Model.Hour.Hour</h4>

    </div>
</div>

@section Styles {
    <link href="~/css/appointments.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/js/appointments.js"></script>
}