@model IEnumerable<ClinicManagement.Models.AppointmentViewModel>

@{
    ViewBag.Title = "Doctors";
}

<div class="main-container">
    <div class="table-box">
        @if (User.IsInRole("Patient"))
        {
            <div class="options-box">
                <div class="options-items">
                    @Html.ActionLink("Make an appointment", "Create", "Appointment", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
        <table class="stripe" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DoctorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PatientName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/appointments.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/js/datatable.js"></script>
}
