@model ClinicManagement.Models.UserLoginViewModel

<div class="login-container">
    <div class="login-box-container">
        <div class="box-right">
        </div>
        <div class="box-left">
            <div class="form-title">
                <h2>Welcome in clinic!</h2>
                <h4>Please login to your account</h4>
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="form-input-container">
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { placeholder = "Username" } })<br />
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-input-container">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Password" } })<br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-input-container">
                    <button type="submit" class="btn btn-primary col-3">Login</button>
                </div>

                <div class="form-outline text-center text-danger">
                    @Html.ValidationSummary()
                </div>
            }
        </div>
    </div>
</div>








