@model IEnumerable<ClinicManagement.Models.PrescriptionViewModel>

@{
    ViewBag.Title = "Prescriptions";
}

<div class="main-container">
    <div class="prescription-box">
        @if (User.IsInRole("Doctor"))
        {
            <div class="options-box">
                <div class="options-items">
                    @Html.ActionLink("Write a prescription", "Create", "Prescription", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
        <table class="stripe" id="dataTable">
            <thead>
                <tr>
                    @if (User.IsInRole("Patient") || User.IsInRole("Doctor"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpirationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsCollected)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CollectedDate)
                        </th>
                        @if (User.IsInRole("Patient"))
                        {
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DoctorName)
                </th>
                        }
                        else if (User.IsInRole("Doctor"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().PatientName)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().MedicineName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().MedicinePrice)
                        </th>
                    }
                    else if (User.IsInRole("Pharmacist"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpirationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsCollected)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CollectedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DoctorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PatientName)
                        </th>
                        <th>
                            Realize
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    @if (User.IsInRole("Patient") || User.IsInRole("Doctor"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpirationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsCollected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectedDate)
                        </td>
                        @if (User.IsInRole("Patient"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.DoctorName)
                            </td>
                        }
                        else if (User.IsInRole("Doctor"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientName)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicineName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicinePrice)
                        </td>
                    }
                    else if (User.IsInRole("Pharmacist"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpirationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsCollected)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                        if (!item.IsCollected)
                        {
                            <td>
                                @Html.ActionLink("Realize", "Realize", "Prescription", new { prescriptionId = item.PrescriptionId }, new { @class = "btn btn-primary" })
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link href="~/css/prescription.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/js/datatable.js"></script>
}
