@model IEnumerable<ClinicManagement.Models.PatientViewModel>

@{
    ViewBag.Title = "Patients";
}

<div class="main-container">
    <div class="table-box">
        <table class="stripe" id="dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content("~/img/profiles/" + item.UserName + ".jpg")" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/patients.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/js/datatable.js"></script>
}

