@model ClinicManagement.Models.UserProfileViewModel

@{
    ViewBag.Title = "Edit users";
}

<div class="main-container">
    <div class="profile-box">
        <div class="rounded-circle profile-picture" style="background-image: url('@Url.Content("~/img/profiles/"+User.Identity.Name+".jpg")')"></div>
        <div class="profile-info">
            <table>
                <tr>
                    <th>First name:</th>
                    <td>@Model.FirstName</td>
                    <th>Last name:</th>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>@Model.PhoneNumber</td>
                    <th>Address:</th>
                    <td>Lorem ipsum</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-box">
        <table class="stripe" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Date)
                    </th>
                    @if (User.IsInRole("Doctor"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().PatientName)
                        </th>
                    }
                    else if (User.IsInRole("Patient"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().DoctorName)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Appointments)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @if (User.IsInRole("Doctor"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                    }
                    else if (User.IsInRole("Patient"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorName)
                        </td>
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/js/datatable.js"></script>
}
